@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
  }

  /* img {
    width: 100%;
  } */

  body {
    color: #fff;
    background: #240053;
  }

  

  header {
    background: #240053;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: fixed;
    padding: 18px 100px;
    transition: 0.5s;
    top: 0;
    width: 100%;
    z-index: 1000;
    right: 0;
  }

  .logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: 600;
    color: #FFF;
  }

  /* Menu Icon */
  #menu-icon {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 10001;
    display: none;
  }

  /* navbar */
  .navbar {
    display: flex;
    align-items: center;
  }

  .navbar li {
    display: flex;
    align-items: center;
    padding-right: 40px;
    cursor: pointer;
  }

  .navbar a {
    padding: 10px 5px;
    color: #fff;
    font-size: 14px;
    gap: 5rem;
  }

  .navbar span {
    border: 1px solid white;
    padding: 1px;
    border-radius: 20%;
    margin-left: 10px;
  }


/* right */

.header-right {
    display: flex;
   align-items: center;
}

.header-right a {
    padding-right: 30px;
    color: #fff;
    font-size: 14px;
}
a .btn {
    text-align: center;
    align-items: center;
}


.btn {
    cursor: pointer;
    background: #8807F7;
    padding: 11px 30px;
    font-size: 14px;
    color: #fff;
    border-radius: 1.5rem;
    justify-content: center;
    margin-right: 20px;
    text-align: center;
    align-items: center;
}

.header-right img{
    background: #D6ABFC;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 7px;
    border-radius: 50%;
}

.header-right span img{
    background: transparent;
}

/* -============== */
/* HERO SECTION */

.hero-section {
    background: url(./Images/background.png);
    color: #fff;
    /* min-height: 900px; */
    top: 70px;
    /* position:absolute; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.hero-text {
  padding-top: 100px;
  font-size: 90px;
  font-weight: 800;
 background: -webkit-linear-gradient(left, #FFEB35, #19FD82);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.hero-section p {
  font-size: 15px;
  font-weight: 500;
  padding: 20px 300px;
  line-height: 32px;
}

.hero-section .btn {
  background: #fff;
  color: #240053;
  margin-top: 20px;
  font-weight: 600;
  width: 150px;
  Padding: 16px;
}

.hero-section .btn:hover {
  background: #8807F7;
  color: #fff;
  transition: 0.2s all linear;
}

.hero-section img {
 width: 70%;
  bottom: 0;
}

/* ================== */
/* Product Section */

.products {
  color: #240053;
  background: #FFFDF2;
  padding: 30px 100px;
  border-radius: 32px 32px 0px 0px;
}

.product-text {
  padding-top: 40px;
  font-size: 70px;
  letter-spacing: -3px;
  font-weight: 700;
}

.product-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
   margin-top: 20px;
}

.product-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 60px;
  min-height: 400px;
  gap: 10px;
}

.product-left h2 {
  color: #E8356D;
}

.product-left h4 {
  font-weight: 500;
}

.product-left p {
  padding-right: -20px;
  color: #9CA3AF;
}

.product-list {
  margin-top: 40px;
}
.product-items {
 display: flex;
 gap: 20px;
 padding-bottom: 30px;
 font-weight: 500;
}

.product-right {
  width: 400px;
  height: 400px;
  border-radius: 24px 24px 0px 0px;
  background: rgba(232, 53, 109, 80%);
  display: flex;
  align-items:end;
  justify-content:center;
  bottom: 0;
}

.product-right img {
  object-fit: cover;
  width: 270px;
  top: 0;
  bottom: 0;
}

.product-line {
display: flex;
flex-direction: row;
/* background: yellow; */
width: 90%;
margin-top: 30px;
margin-left: 50px;
margin-right: 120px;
height: 50px;
}

.product-line1 {
  background: #8807F7;
  width: 200px;
  height: 8px;
  border-radius: 16px 0 0 16px;
}

.product-line2 {
  background: #F3F4F6;
  width: 1170px;
  height: 8px;
  border-radius: 16px 16px 16px 0;
}

/* =========== */
/* Business Section */
.business {
  color: #240053;
  background: #FFF;
  padding: 30px 100px;
}

.transparency {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 50px 0;
  background: #fff;
}

/* transparency-left */
.transparency-left {
  width: 50%;
  height: 400px;

}

.transparency-left h1 {
  font-size: 70px;
  font-weight: 900;
  line-height: 75px;
  letter-spacing: -3px;
  padding-bottom: 30px;
}

.transparency-left h1 span {
  color: #E8356D;
}

.transparency-left p {
  padding-bottom: 50px;
}



/* transparency-right  */
.transparency-right {
  width: 558px;
  height: 380px;
  margin-top: -15px;
  margin-left: 20px;
  display: flex;
  color: #fff;
  border-radius: 20px;
  background-color: #240053;
}

/* trans left */
.trans-left {
  padding: 40px 50px;
  width: 50%;
}

.trans-left h2 {
  font-size: 14px;
  font-weight: 500;
  top: 70px;
  padding-bottom: 30px;
}

.trans-left p {
  font-size: 9px;
  color: #9CA3AF;
  padding: 10px 0;
}

.trans-left .monthly {
  display: flex;
  justify-content: space-between;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  align-items: center;
  width: 144.28px;
  padding: 3px 5px;
  cursor: pointer;
}

.monthly a {
  color: #fff;
  font-size: 14px;
}

.monthly img {
  width: 15px;
}

.trans-left form input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  padding: 5px;
  color: #fff;
}

.trans-left form input::placeholder {
  color: #fff;
}




/* trans-right */

.trans-right {
  color: #240053;
  width: 50%;
  width: 247.23px;
  height: 295.92px;
  justify-content: center;
  align-items: end;
  left: -0.17px;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  background: #fff;
  margin-top: 85px;
}

.total {
  padding-bottom: 10px;
}
.total p {
  font-size: 7px;
  color: #9CA3AF;
}

.savings {
  color: #9CA3AF;
  font-size: 8px;
  padding-bottom: 10px;
}

.savings span {
  font-weight: 600;
}

.total h3 {
  color: #3D0072;
  font-size: 12px;
}

.total span {
  font-weight: 400;
  font-size: 10px;
}

.trans-right img {
  width: 200px;
  margin-top: -20px;
}

.chart {
  display: flex;
 justify-content: space-between;
 font-size: 7px;
 font-weight: 500;
 width: 192px;
color: #9CA3AF;
}

.chart span {
  color: #3D0072;
}

.trans-right .btn {
  cursor: pointer;
    background: #8807F7;
    padding: 5px 10px;
    font-size: 10px;
    color: #fff;
    margin-top: 20px;
    position: absolute;
}

.transparency .btn:hover  {
  color: #fff;
  background-color: #240053;
  transition: 0.2s all linear;
}


/* ============ */
/* Company Section */

.company {
 background: #FFFDF2;
 color: #240053;
  width: 100%;
  padding: 30px 100px;
  position: relative;
  
}

.invest {
  /* z-index: 1000; */
  width: 100%;
  background: url(./Images/) no-repeat cover cover/center;
}

.invest h1{
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  width: 60%;
  padding-top: 40px;
}

.invest p {
  width: 55%;
  padding: 40px 0;
  line-height: 30px;
  font-style: 24px;
  font-weight: 500;
}

.invest span {
  color: #0D9488;
}

.invest-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #8807F7;
  width: 350px;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  /* z-index: 300002; */
}

.invest-btn a {
  font-size: 15px;
  font-weight: 500;
  color: #8807F7;
  cursor: pointer;
}

.invest-btn img {
  background-color: #8807F7;
  color: #fff;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  padding: 15px;
  width: 50px;
}

.company .arrow {
  width: 80%;
 margin-top: -320px;
 align-items: center;
 justify-content: center;
 margin-left: 80px;
}

.invest-btn:hover {
  background: #8807F7;
  color: #fff;
}

.invest-btn img:hover {
  background: #fff;
  color: #8807F7;
}

/* ================================ */
/*------------ Learn -------- */

.learn {
top: 0;
background: url(./Images/BACK\ 1.png);
background-position: center;
background-repeat: no-repeat;
object-fit: contain;
color: #fff;
width: 100%;
padding: 30px 100px;
}

.access-section h1{
  padding: 30px 0;
  font-size: 60px;
  font-weight: 800;
  color: #fff;
}

.access-section p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  width: 50%;
  padding-bottom: 40px;
}

.access-section .invest-btn {
  border: 1px solid #fff;
 
}

.access-section .invest-btn a {
  color: #fff;
}

.access-section .invest-btn img {
  background-color: #fff;
}

.access-section .invest-btn:hover {
  border: 1px solid #8807F7;
}

.access-container {
  display: grid;
  align-items: end;
  grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
  gap: 5.5rem;
  padding: 50px;
  background: #29014B;
  color: #fff;
  /* height: 1001px; */
  margin-top: 50px;
  justify-content: center;
  -webkit-box-shadow: -1px -8px 25px -6px rgba(136,7,247,0.85); 
box-shadow: -1px -8px 25px -6px rgba(136,7,247,0.85);
}

.access {
 gap: 32px;
 width: 358.19px;
 height: 361.33px;
 padding: 32px 50px 12px 94px;
}

.access h2 {
  font-weight: 700;
  font-size: 20px;
  padding: 30px 0;
}

.access p {
  padding-bottom: 30px;
  line-height: 25px;
  width: 298px;
}

.access a {
  color: #fff;
}

.access .access1 {
  background-color: #EAB308;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 23px 35px 4px rgba(234,179,8,0.30);
}

.access .access2 {
  background-color: #E8356D;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 23px 35px 4px rgba(232,53,109,0.30); 
}

.access .access3 {
  background-color: #8807F7;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 23px 35px 4px rgba(136,7,247,0.30);
}

.access .access4 {
  background-color: #22C55E;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 23px 35px 4px  rgba(34,197,94,0.30);
}